* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F3F1FF;
}

hr {
    border: 1px solid #D1D1D1;
    margin: 20px 0;
}

/* header */
.header {
    background-color: #562EFF;
    padding: 20px;
}

.section {
    width: 60%;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 42px;
}

.header-items {
    display: flex;
    gap: 15px;
    align-items: center;
    color: white;
}

.header-items>a {
    text-decoration: none;
    color: white;
}

/* main */
/* Players */
.heading {
    color: #562EFF;
    font-weight: 500;
    font-size: 2em;
}

.player-blog {
    background-color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 3em;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player-data {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.player-data>img {
    width: 60px;
    margin-right: 10px;
}

.player-data {
    font-size: 20px;
    font-weight: 500;
}

/* blog */
.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.blog-items {
    /* width: 50%; */
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.blog-items>img {
    width: 50%;
}

.blog-para {
    font-size: 1.2em;
    font-weight: 500;
}

.blog-writer {
    font-weight: 450;
    color: #562EFF;
}

.by {
    color: aquamarine;
}

/* Latest course */
.course {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 3em;
}

.course-items {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.class {
    flex: 1;
}

.class>img {
    width: 100%;
}

.course-title {
    font-size: 17px;
    font-weight: 600;
}

.course-writer {
    color: #ED6B4F;
}

.rating-time {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fill {
    color: yellow;
}

.unfill {
    color: #e7e5f1;
}

.rate {
    margin-left: 10px;
    color: #6b6a70;
}

.time {
    padding: 5px 10px;
    background-color: #e7e5f1;
    border-radius: 20px;
    color: #FF4A60;
    font-weight: 600;
}

.time>span {
    margin-left: 5px;
}

/* for Tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .section {
        width: 80%;
    }

    .top-players {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-items {
        flex-direction: column;
    }

    .blog-items>img {
        width: 100%;
    }

    .course-items {
        flex-direction: column;
        gap: 50px;
    }

    .class {
        display: flex;
        gap: 20px;
    }

    .class>img {
        width: 50%;
    }

    .rating-time {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}



/* for Phone */
@media screen and (max-width: 576px) {
    .section {
        width: 90%;
    }

    .header-nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .top-players {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-items {
        flex-direction: column;
    }

    .blog-items>img {
        width: 100%;
    }

    .blog-items>div {
        width: 100%;
    }

    .course-items {
        flex-direction: column;
        gap: 30px;
    }
}